a {
  display: block;
  width: 100px;
  line-height: 40px;
  padding-left: 10px;
}

a:link {
  color: #ff0000;
}

a:hover {
  color: white;
  background-color: #ff0000;
  text-decoration: none;
}

a:visited {
  color: #008000;
}
