*{
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
}

aside{
    width: 40%;
}

img{
    width: 40%;
    height:40%;
    padding: 5%;
}

div ul li{
    padding: 10px 20px;
    margin-right: 5px;
    text-align: center;
    float: left;
}

.logo{
    width: 200px;
    background: rgb(87, 83, 83);
}



.redes{
    width: 50px;
    margin: 10px;
    height: 50%;
    background: rgb(87, 83, 83);
}

ul{
    list-style: none;
}

p{
    text-align: center;
    text-align: justify;
    
}

.button{
    height: 20px;
    width: 100px;
}

.m15{
    margin: 5%;
}

.ma{
    margin: auto;
}

.pa5{
    padding: 5%;
}

.pa15{
    padding: 15px;
}

/*FONDOS DE COLOR GENERICOS*/
.bg-orange{
    background: orange;
}

.bg-orangered{
    background: orangered;
}

.bg-or{
    background: rgb(226, 158, 31);
}

.bg-ord{
    background: rgb(252, 95, 38);
}
.bg.white{
    background: white;
}

.bg-slategrey{
    background: slategrey;
}

/*ALTOS Y ANCHOS DE PANTALLA GENERICOS*/
.h-10{
    height: 10vh;
}

.h-15{
    height: 15vh;
}

.h-25{
    height: 25vh;
}

.h-50{
    height: 50vh;
}

.h-75{
    height: 75vh;
}

.h-100{
    height: 100vh;
}

.h40{
    height: 45%;
}


.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

/*FLEXBOX GENERICOS*/
.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.fle-row{
    flex-direction: row;
}

.fle-nw{
    flex-direction: nowrap;
}

.jcc{
    justify-content: center;
}

.aic{
    align-items: center;
}

.aife{
    align-items: flex-end;
}

.jcbetween{
    justify-content: space-between;
}


/* BASES GENERICOS*/

.basis-10{
    flex-basis: 10%;
}

.basis-15{
    flex-basis: 15%;
}

.basis-25{
    flex-basis: 25%;
}

.basis-30{
    flex-basis: 30%;
}

.basis-40{
    flex-basis: 40%;
}

.basis-50{
    flex-basis: 50%;
}

.basis-60{
    flex-basis: 60%;
}

.basis-70{
    flex-basis: 70%;
}

.basis-75{
    flex-basis: 75%;
}

.basis-90{
    flex-basis: 90%;
}

/*FLEX GENERICOS*/

.flex-10{
    flex: 10;
}

.flex-20{
    flex: 20;
}

.flex-25{
    flex: 25;
}

.flex-30{
    flex: 30;
}

.flex-40{
    flex: 40;
}

.flex-50{
    flex: 50;
}

.flex-75{
    flex: 75;
}

.flex-80{
    flex: 80;
}

/*GROW Y SHRINK GENERICOS*/

.grow-0{
    flex-grow: 0; /*no crece*/
}

.grow-1{
    flex-grow: 1; /*crece*/
}

.shrink-0{
    flex-shrink: 0; /*no reajustes tamaño*/
}

.shrink-1{
    flex-shrink: 1; 
}


.t-w{
    color: white;
}


.f-l{
    float: left;
}

.f-r{
    float: right;
}

.bor{
    border: 2px solid gray;
    box-sizing: border-box;
}

.ml{
    margin-left: 5%;
}

