li{
    font-size: x-large;
}

ol li:first-child{
    color: green;
}

ol li:last-child{
    color: red;
}

/*even y odd*/
/*
n = 0 = {0..9{

    3 * 0 + 3 = 3
    3 * 1 + 3 = 6
    3 * 2 + 3 = 9

    frecuencua + posicion inicial
            an + b
*/

ol li:nth-child(2n){
    background-color: gold;
}

ol li:nth-last-child(2n){
    background-color: hotpink;
}