:root{
    --color-primary : #ebe9ec;
    --color-secondary : #a4c9ff;
    --color-danger: #ff5555;
    --color-info: #67b3c0;
    --color-success: #8dc722;
    --color-fondo1: #f5f5dc;
    --color-fondo2: skyblue;
}